body {
    /* font-family: Arial, sans-serif;*/
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
}

header {
    text-align: center;
    padding: 20px;
    font-weight: normal;
}

header h1 {
    margin: 0;
    font-weight: normal;
}

h2 {
    font-weight: normal; /* Makes the section headers non-bold */
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: normal;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 22%;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: normal; /* Makes the navigation text non-bold */
}

main {
    width: 90%;
    max-width: 1200px;
    min-width: 320px;
    margin: 20px auto;
}

.intro, .projects, .paintings {
    margin-bottom: 20px;
    text-align: center;
}

.intro p, .projects p, .paintings p {
    width: 40%;
    margin: 0 auto;
    text-align: justify;
}

.separator {
    width: 50%;
    margin: 0 auto;
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
}

.headingSeparator {
    width: 60%;
    margin: 0 auto;
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
}

.normal_center {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the grid horizontally */
    text-align: center; /* Center the text inside the section */
    padding: 20px; /* Add padding if needed */
}

.paintings-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3 columns for large screens */
    gap: 60px 10px; /* Vertical space of 20px and horizontal space of 10px */
    justify-content: center; /* Center the grid items horizontally */
    margin: 0 auto; /* Center the grid container */
    padding: 10px; /* Padding around the grid */
    width: 50%;
}


.painting-link {
    display: flex; /* Ensure the link behaves as a flex container */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center content horizontally */
    text-decoration: none; /* Remove underline from links */
    color: inherit; /* Inherit text color */
}

.painting-item {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: flex-end; /* Space between content to push title to the bottom */
    gap: 0px;
    align-items: center; /* Center content horizontally */
    border: 0px solid #ccc;
    border-radius: 0px;
    overflow: hidden; /* Hide overflow */
    background: #fff; /* White background for the item */
    width: 100%; /* Ensure the item takes full width of its grid cell */
    max-width: 200px; /* Limit maximum width of the painting item */
    height: 323px; /* Fixed height to ensure uniformity */
    box-sizing: border-box; /* Include padding and border in the element’s total width and height */
}

.painting-item-horizontal {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: flex-end; /* Space between content to push title to the bottom */
    gap: 0px;
    align-items: center; /* Center content horizontally */
    border: 0px solid #ccc;
    border-radius: 0px;
    overflow: hidden; /* Hide overflow */
    background: #fff; /* White background for the item */
    width: 100%; /* Ensure the item takes full width of its grid cell */
    max-width: 200px; /* Limit maximum width of the painting item */
    height: 200px; /* Fixed height to ensure uniformity */
    box-sizing: border-box; /* Include padding and border in the element’s total width and height */
}

.painting-item-horizontal-full {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: flex-end; /* Space between content to push title to the bottom */
    gap: 0px;
    align-items: center; /* Center content horizontally */
    border: 0px solid #ccc;
    border-radius: 0px;
    overflow: hidden; /* Hide overflow */
    background: #fff; /* White background for the item */
    width: 100%; /* Ensure the item takes full width of its grid cell */
    max-width: 200px; /* Limit maximum width of the painting item */
    height: 323px; /* Fixed height to ensure uniformity */
    box-sizing: border-box; /* Include padding and border in the element’s total width and height */
}

.painting-item img {
    width: 100%; /* Ensure images fit within their container */
    height: auto; /* Maintain aspect ratio */
    max-height: calc(100% - 40px); /* Adjust max height to leave space for title */
    object-fit: cover; /* Ensure image covers the space */
}

.painting-item-horizontal img {
    width: 100%; /* Ensure images fit within their container */
    height: auto; /* Maintain aspect ratio */
    max-height: calc(100% - 40px); /* Adjust max height to leave space for title */
    object-fit: cover; /* Ensure image covers the space */
}

.painting-item-horizontal-full img {
    width: 100%; /* Ensure images fit within their container */
    height: auto; /* Maintain aspect ratio */
    max-height: calc(100% - 40px); /* Adjust max height to leave space for title */
    object-fit: cover; /* Ensure image covers the space */
}

.painting-title {
    color: #ccc;
    padding: 10px; /* Padding around the title */
    text-align: center; /* Center text */
    font-size: 1em; /* Font size for the title */
    border-top: 0px solid #ddd; /* Border to separate title from image */
    width: 100%; /* Ensure title spans the full width of the painting item */
    box-sizing: border-box; /* Include padding and border in the element’s total width and height */
}

.invisible-painting-title {
    color:#fff;
    padding: 10px; /* Padding around the title */
    text-align: center; /* Center text */
    font-size: 1em; /* Font size for the title */
    border-top: 0px solid #ddd; /* Border to separate title from image */
    width: 100%; /* Ensure title spans the full width of the painting item */
    box-sizing: border-box; /* Include padding and border in the element’s total width and height */
}

/* Styles for detailed painting view */
.painting-details {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content horizontally */
    text-align: center; /* Center the text within the section */
}

.painting-details-horizontal {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content horizontally */
    text-align: center; /* Center the text within the section */
}

.painting-details img {
    max-width: 30%; /* Ensure the image fits within its container */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 50px; /* Space between image and text */
}

.painting-details-horizontal img {
    max-width: 50%; /* Ensure the image fits within its container */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 50px; /* Space between image and text */
}

.painting-details h2 {
    margin-top: 0; /* Remove default margin from top */
    margin-bottom: 10px; /* Space between title and description */
}

.painting-details-horizontal h2 {
    margin-top: 0; /* Remove default margin from top */
    margin-bottom: 10px; /* Space between title and description */
}

.painting-details p {
    width: 40%; /* Limit the width of the text */
    margin: 0 auto; /* Center the text within the container */
    font-size: 1em; /* Font size for the description */
    line-height: 1.6; /* Line height for better readability */
    text-align: justify; /* Justify text for a clean look */
}

.painting-details-horizontal p {
    width: 40%; /* Limit the width of the text */
    margin: 0 auto; /* Center the text within the container */
    font-size: 1em; /* Font size for the description */
    line-height: 1.6; /* Line height for better readability */
    text-align: justify; /* Justify text for a clean look */
}

/* Responsive Design */
@media (max-width: 768px) {
    header {
        padding: 15px;
    }

    nav ul {
        flex-direction: row;
        justify-content: center;
        gap: 20%;
    }

    nav ul li a{
        font-size: 0.8em; /* Smaller font size on phones */
    }

    .intro p, .projects p, .paintings p {
        width: 70%;
        font-size: 0.8em;
    }

    .separator {
        width: 80%;
    }

    .headingSeparator{
        width: 90%;
    }

    .paintings-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for medium screens */
        width: 80%;
    }

    .painting-item {
        height: 200px; /* Fixed height to ensure uniformity */
    }

    .painting-item-horizontal-full {
        height: 200px; /* Fixed height to ensure uniformity */
        gap: 0px;
    }

    .painting-item-horizontal {
        height: 120px; /* Fixed height to ensure uniformity */
        gap: 0px;
    }

    .painting-title {
        font-size: 0.5em;
    }
    
    .invisible-painting-title {
        font-size: 0.5em;
    }

    .paintings-grid {
        gap: 20px 10px; /* Vertical space of 20px and horizontal space of 10px */
        width: 80%;
    }

    header h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }

    .painting-details p {
        width: 70%; /* Increase width for smaller screens */
        font-size: 0.8em; /* Smaller font size on phones */
    }

    .painting-details img {
        max-width: 80%; /* Ensure the image fits within its container */
        margin-bottom: 20px; /* Space between image and text */
    }

    .painting-details-horizontal p {
        width: 70%; /* Increase width for smaller screens */
        font-size: 0.8em; /* Smaller font size on phones */
    }

    .painting-details-horizontal img {
        max-width: 90%; /* Ensure the image fits within its container */
        margin-bottom: 20px; /* Space between image and text */
    }
}
